.note-list h1 {
    text-align: center;
    color: darkcyan;
    flex: 1;
}

.note-list .note{
    border: 1px solid white;
    border-radius: 4px;
    
    width: 250px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

    background-color: aqua;
    padding: 5px;
}

.note-list .note h3{
    text-align: center;
    color: white;
}

.note-list .note label{
    color: red;
    font-size: 10px ;
}

.note-list .note img{
    max-width: 100%;
    max-height: 160px;
}

.note-list .title-row{
    display: flex;
    align-items: center;
    padding-right: 10px;
}




@media(max-width:767px){
    /* CSS for MOBILE */
    .note-list .title-row{
        flex-direction: column;
        padding-right: unset;
        margin-bottom: 12px;
    }

    .note-list .note{
        width: 100%;
        margin: 6px 0;
        height: unset;
    }

    .note-list .list{
        padding: 0 12px;
    }

    .note-list .note img{
        width: 100%;
        height: unset;
        max-height: unset;
    }
}